{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <message>
            {{ vueMessage() | raw }}
        </message>
        <Counter>
            {{ vueCounter() | raw }}
        </Counter>
    </div>
{% endblock %}
